* {
  margin-top: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  background-color: #fff;
  margin-left: 5%;
  margin-right: 5%;
}

.logo {
  margin-right: 15px;
  padding-top: 1%;
}

.logo img {
  max-width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
}

/* .toggle-button {
  color: #810e0e;
  font-size: 36px;
  font-weight: 300;
} */

.menu {
  display: none;
  list-style-type: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.menu li {
  margin-left: 5%;
}

.navbar .menu li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 133%;
  color: #344563;
  padding: 5%;
}

/* Main */
#intro {
  background-image: url("img/header-shapes.png");
  background-repeat: no-repeat;
  padding-top: 30%;
  padding-bottom: 30%;
  background-position: center;
  margin-left: 5%;
  margin-right: 5%;
  background-size: cover;
}

#intro h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #172b4d;
}

.my-description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #344563;
}

.social-media-connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #74d;
  text-decoration: none;
  width: 50%;
  padding-bottom: 2%;
}

.social-media-icon {
  width: 35%;
  display: flex;
  list-style-type: none;
  align-items: baseline;
  margin-top: 3%;
}

.social-media-icon li {
  padding-right: 10%;
}

/* Work */
#work {
  display: grid;
  grid-template-rows: 1fr;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
}

.work-first {
  margin-top: 18%;
  margin-bottom: 20%;
}

.work-first .work-img {
  flex-basis: 50%;
}

.work-first .work-img img {
  width: 100%;
  border-radius: 4%;
}

.form-label h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: #fff;
  padding-top: 30%;
}

.work-description {
  padding-left: 5%;
  padding-bottom: 2%;
  flex-basis: 50%;
}

.language li {
  margin-right: 3%;
}

.work-description .specification h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  color: #172b4d;
  text-align: left;
}

.work-description .specification h4 {
  color: #344563;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  flex-grow: 1;
}

.work-description .specification ul {
  flex-grow: 2;
}

.technical-skill {
  flex-basis: 50%;
}

.technical-skill ul li {
  list-style-type: none;
}

/* .menu:hover li {
  flex-basis: calc(99% / 3);
  padding-right: 5%;
} */

.work-description .specification ul li {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 123%;
  color: #4d535e;
  padding-right: 10%;
}

.work-description p {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #344563;
}

.language-tag {
  padding: 4px 12px;
  width: 57px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  justify-content: center;
}

.form-label p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #ebebff;
  padding: 1% 1%;
}

.form-button p {
  width: 110px;
  height: 24px;
  font-weight: 500;
  font-size: 17px;
  line-height: 141%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #83f;
}

.language-tag p {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: #394ada;
  margin-top: 20%;
}

.lang-p p {
  font-size: 24px;
}

.languages {
  background-color: #fff;
}

.frame-1 {
  background-color: #f7f7f9;
  margin-bottom: 5px;
  border: solid 5px #fff;
}

.frame-1 p {
  font-weight: 500;
  font-size: 15px;
  line-height: 133%;
  color: #253858;
}

.frame-skill p,
i {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  color: #000;
}

.see-project-btn {
  margin-top: 5%;
  padding: 12px;
  gap: 10px;
  width: 126px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  background-color: #fff;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.see-project-btn:hover {
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  margin-bottom: 5%;
  color: #fff;
  transform: rotate(360deg);
}

.see-project-btn:hover p {
  color: #fff;
}

.see-project-btn:active {
  background-color: #2230d2;
  color: #fff;
}

.see-project-btn:active p {
  color: #fff;
}

.see-project-btn:active,
.see-project-btn:focus {
  background-color: #2230d2;
  color: #fff;
}

/* Toogle menu */

/* .menu:hover,
.toggle-button:hover + .menu {
  display: flex;
}

.toggle-button:hover + .menu {
  flex-wrap: wrap;
  margin-right: 5%;
}

.toggle-button:hover .menu-icon {
  transform: rotate(45deg);
}

.toggle-button:hover + .menu li {
  flex-basis: calc(99% / 3);
  padding-right: 5%;
} */

/* Form */
#form {
  width: auto;
  height: 779px;
  background-image: url("img/form-shapes.png"), url("img/Shape.png"), url("img/Contact-me.png");
  background-position: right 0 top 48%, center bottom 5px, left 0 top 0;
  background-repeat: no-repeat;
  background-size: 72%, 25%, 120%;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
  padding-left: 6%;
  padding-right: 12%;
}

.form-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  padding-left: 5.5%;
}

.form-input {
  width: 100%;
  height: 2.5rem;
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding-left: 5%;
}

#message {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 10rem;
  width: 100%;
  padding-top: 5%;
}

.form-button {
  display: flex;
  flex-direction: row;
  padding: 12px 16px;
  width: 142px;
  height: 48px;
  background-color: #fff;
  border: #fff;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.form-button:hover {
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
  transform: scale(1.1);
}

.form-button:active {
  background-color: #2230d2;
}

.form-button:active,
.form-button:focus {
  background-color: #2230d2;
  color: #fff;
}

.form-button:hover p {
  color: #fff;
}

.form-button:active p {
  color: #fff;
}

#about-myself {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 48%;
  margin-right: 5%;
  margin-left: 5%;
}

.left-col-about-myself {
  flex-basis: 50%;
}

#about-myself .left-col-about-myself h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #172b4d;
}

#about-myslf p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #344563;
}

#languages p {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}

#resume-btn {
  padding: 12px;
  gap: 10px;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  background-color: #fff;
  border-radius: 8px;
  letter-spacing: 0.03em;
  color: #396df2;
  transition: all 0.2s ease-in-out;
}

#resume-btn:hover {
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
  transform: translate(-5%);
}

#resume-btn:hover p {
  color: #fff;
}

#resume-btn:active {
  background-color: #2230d2;
  color: #fff;
}

#resume-btn:active p {
  color: #fff;
}

#languages {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 5%;
}

#languages ul li img {
  width: 10px;
}

#languages ul li {
  width: 303px;
  height: 66.72px;
  background: #24245c;
  border-radius: 8px;
}

.fa {
  font-size: 24px;
}

.lang-p {
  display: flex;
  justify-content: space-between;
}

.frame-skill {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.form-input ::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  display: flex;
  align-items: center;
  color: #172b4d;
  height: 18px;
  left: 16px;
  right: 38px;
  top: calc(50% - 18px / 2);
}

#message ::placeholder {
  left: 16px;
  right: 38px;
  top: 15px;
  bottom: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #b3bac5;
}

.x-icon {
  display: none;
}

/* Font awesome */
.fa-solid,
.fas {
  font-weight: 900;
  color: #6070ff;
}

/* .fa-times {
  display: none;
} */

@media only screen and (min-width: 768px) {
  /* * {
    margin-left: 0;
    margin-right: 0;
  } */

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 100px;
    height: 40px;
    flex: auto;
    left: 143px;
    top: calc(50% - 40px / 2);
  }

  .toggle-button {
    display: none;
  }

  /* .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 258px;
    height: 40px;
    left: 1039px;
    top: 16px;
  } */

  #intro {
    background-image: url("img/header-shapes-desktop.png");
    background-repeat: no-repeat;
    padding-top: 9%;
    padding-left: 9%;
    padding-right: 15%;
    padding-bottom: 5%;
    background-position: center;
    background-size: cover;
  }

  #intro h1 {
    padding-left: 10%;
  }

  #intro .my-description p {
    font-size: 20px;
    line-height: 140%;
    padding-left: 10%;
    padding-right: 1%;
  }

  .socail-media {
    padding-left: 10%;
  }

  .work-first {
    display: flex;
    align-items: center;
  }

  #about-myself {
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 15%;
  }

  .technical-skill {
    padding-left: 3%;
  }

  #languages {
    padding-top: 0;
  }

  .languages {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .frame-1 {
    width: 122px;
    height: 120px;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1%;
    justify-content: center;
  }

  #form {
    background-image: url("img/form-shapes-desktop.png"), url("img/form-desktop.png");
    background-position: right 0 top 0, left 0 top 0;
    background-size: 99%, 200%;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }

  .form-input {
    /* width: 50%; */
    height: 48px;
    align-self: center;
  }

  .form-button {
    align-self: center;
  }
}
