* {
  margin: 1%;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.flex {
  display: flex;
}

.header {
  background-color: #fff;
  padding: 1em;
}

.logo {
  margin-right: 15px;
}

.logo img {
  max-width: 100%;
}

.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.toggle-button {
  color: #810e0e;
  font-size: 36px;
  font-weight: 300;
}

.menu {
  display: none;
  list-style-type: none;
}

.menu li a {
  text-decoration: none;
}

/* Main */
#intro {
  background-image: url("img/Rectangle\ 6.png"), url("img/Ellipse\ 11.png"), url("img/Rectangle\ 7.png"), url("img/Rectangle\ 4.png"), url("img/Ellipse\ 3.png");
  background-repeat: no-repeat;
  background-size: 5%;
  background-position: left top, left 4% top 7%, center top, right 6% top, right 4% top 4%;
}

#intro h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #172b4d;
}

.my-description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #344563;
}

#social-media-connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7f8cff;
  text-decoration: none;
  width: 50%;
}

.social-media-icon {
  width: 35%;
  display: flex;
  list-style-type: none;
  align-items: baseline;
  padding-bottom: 32%;
}

.social-media-icon li {
  padding-right: 10%;
}

#socail-media {
  background-image: url("img/Ellipse\ 12.png"), url("img/Ellipse\ 13.png"), url("img/Ellipse\ 15.png"), url("img/Rectangle\ 5.png"), url("img/Ellipse\ 4.png"), url("img/Ellipse\ 6.png");
  background-repeat: no-repeat;
  background-size: 6%;
  background-position: right 9% bottom 98%, right 10% bottom 94%, left 12% bottom 54%, left 47% bottom 50%, left 53% bottom 52%, right 15% bottom 67%;
}

/* Toogle menu */
.menu:hover,
.toggle-button:hover + .menu {
  display: flex;
}

.toggle-button:hover + .menu {
  flex-wrap: wrap;
  margin-right: 5%;
}

.toggle-button:hover .menu-icon {
  transform: rotate(45deg);
}

.menu:hover li,
.toggle-button:hover + .menu li {
  flex-basis: calc(99% / 3);
  padding-right: 5%;
}

/* Work */
#work {
  display: grid;
  grid-template-columns: 1fr;
}

/* .work-first {

} */

.work-description img {
  width: 100%;
  border-radius: 4%;
}

.specification h2 {
  font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 138%;
color: #172b4d;
  text-align: left;
}

.specification h4 {
  color: #344563;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.language-btn {
  border-radius: 10%;
  background-color: #afb4df;
  color: #18438f;
}

.see-project-btn {
  width: 30%;
  border-radius: 10%;
  color: #2961c2;
  background-color: #afb4df;
}

/* About */
#about-myself {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.left-col-about-myself {
  flex-basis: 40%;
}

#about-myself .left-col-about-myself h2 {
  font-weight: 600;
  color: #810e0e;
}

.resume-btn {
  border-color: #810e0e;
  border-radius: 8%;
}

.resume-btn:hover {
  color: #7f8cff;
  border-color: #c2c1bf;
}

.technical-skill ul li {
  list-style-type: none;
}

#languages {
  display: flex;

  /* flex-basis: 60%; */
  margin-top: 20px;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
}

#languages ul li img {
  width: 10px;
}

#languages ul li {
  background-image: #f7f7f9;
}

/* Form */
#form {
  background-color: #6070ff;
  width: 100%;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-button {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

.form-button:hover {
  background-color: #45a049;
}
